 @font-face {
	 font-family: "HelveticaNeueLT Std Thin Cn";
	 src: url('405792237-HelveticaNeueLTStd-ThCn.eot');
	 src: url('405792237-HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),  
	 url('405792237-HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLT Std Thin Cn') format('svg'),  
	 url('405792237-HelveticaNeueLTStd-ThCn.woff') format('woff'),  
	 url('405792237-HelveticaNeueLTStd-ThCn.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;

}
 @font-face {
	font-family: 'Avenir LT Std 45 Book';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 45 Book'), url('AvenirLTStd-Book.woff') format('woff');

}

body{
	margin:0;
	padding:0;
	font-family:"Avenir LT Std 45 Book";
	}
	
.img-responsive{
	display:block;
	max-width:100%;
	height:auto;
	}
.img{
	border:0;
	}
.container{
	width:90% !important;
	margin-left:auto;
	margin-right:auto;	
	}
.container:before,
.container:after{
	display:table;
	content:""
	}
.container:after{
	clear:both;
}

.top{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
	border-top:3px solid #25702d;
	}
.header{
	width:100%;
    margin: 7px 0 11px 0;
	padding:0 0 0 0;
	float:left;
}
.com-logo{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
.log-reg {
    float: right;
    margin: 5px 50px 0 0;
    color: #000;
	}
.log-reg a {
	color:#fff;
}
.log-reg a:hover {
	color:#25702d;
}
.log-reg label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1px;
    font-weight:400;
}
.log-reg-gap{
	margin:0 8px 0 0;
	}
.log-reg-btn{
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    background-color: #25702d;
    border: 1px solid #FFF;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 4px 16px;
    text-decoration: none;
    margin: 10px 1px 7px 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	}
.log-reg-btn:hover{
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    background-color: #fff;
    border: 1px solid #25702d;
    color: #25702d;
	text-decoration:none;

	}
.banner{
    background:url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 5% 0;
    float: left;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
    width: 100%;
	
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.banner h2 {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    font-size: 34px;
    text-align:left;
    background: url(../images/bdr.png) no-repeat left bottom;
    color: #fff;
    padding-bottom: 17px;
    margin-bottom: 12px;
    margin-top: 0;
}
.banner p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #fff;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align: justify;
}
.banner p a {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 17px;
    color: #00ffa3;
}
.banner p a:hober {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 17px;
    color: #00ffa3;
	text-decoration:underline;
}
.banner h3 {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.therr-log-tab{
	width:100%;
    margin: 2% 0;
	padding:0 0 0 0;
	float:left;
}
.educate {
padding: 1em 0em;
    float: left;
    width: 100%;
}

span.glyphicon.glyphicon-education {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.25em;
}
span.glyphicon.glyphicon-grain{
	font-size: 2em;
    color: #fff;
    margin-bottom: 0.25em;
}
span.glyphicon.glyphicon-hourglass{
	font-size: 2em;
    color: #fff;
    margin-bottom: 0.25em;
}
span.glyphicon.glyphicon-eye-open{
	font-size: 2em;
    color: #fff;
    margin-bottom: 0.25em;
}
/*-- w3layouts --*/
.ch-info-front h5 {
    font-size: 19px;
    color: #25702d;
    font-family:"Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
	margin-top:13%;
}
.we-do {
    padding-bottom: 5em;
}
/*--comment style start here--*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width:100%;
	height: 220px;
	display: inline-block;
}
/*--*/
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
/*-- agileits --*/
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	    padding-top: 1em;
}
.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background:#25702d;
	opacity: 0;
}

.ch-img-1 { 
    background: #ffffff;
    border: 2px solid #25702d;
	}

.ch-img-1 span {
   display: block;
    text-align: center;

}
.ch-img-1 i.fa {
    font-size: 40px;
    color: #fff;
    /* padding: .7em; */
    /* background: #fff; */
}

.ch-info-front h4{
    border-radius: 50%;
    color: #555;
    font-size: 44px;
    margin: 0 auto;
    padding: 0 0 0 0;
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    background-color: #fff;
    width: 23%;
	}
.ch-info-back h6{
    border-radius: 50%;
    color: #fff;
    font-size: 42px;
    margin: 13px auto;
    padding: 9px;
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    width: 30%;
}

.ch-info-back h1 {
    font-size: 19px;
    color: #fff;
    	font-family:"Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
: 'Marvel', sans-serif;
    font-weight: 700;
	margin:0 0 0 0;
}
.ch-info h3 {
	color: #fff;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height:90px;
		font-family:"Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
: 'Marvel', sans-serif;
}
.ch-info p {
    color: #191919;
    padding: 7px;
    margin: 5% 0 0 0;
    font-size: 15px;
    line-height: 25px;
}
.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
		font-family:"Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";

}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
/*-- agileits --*/
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
.reg-btn{
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    background-color: #fff;
    border: 1px solid #FFF;
    display: inline-block;
    cursor: pointer;
    color: #25702d;
    font-size: 15px;
    padding: 4px 16px;
    text-decoration: none;
    margin: 10px 1px 7px 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
	}
.reg-btn:hover{
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    background-color: #25702d;
    border: 1px solid #FFF;
    color: #fff;
	text-decoration:none;
	}
.contact{
    background:url(../images/con-bg.jpg) no-repeat 0px 0px;
    background-size: cover;
    padding: 2% 0;
    float: left;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
    width: 100%;
	
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.contact h2 {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    font-size: 34px;
    text-align:left;
    background: url(../images/bdr-con.png) no-repeat left bottom;
    color: #fff;
    padding-bottom: 17px;
    margin-bottom: 12px;
    margin-top: 0;
}
.con-form{
	width:100%;
	margin:1% 0 0 0;
	padding:0 0 0 0;
	float:left;
	}	
.con-add{
	width:100%;
	margin:1% 0 0 0;
	padding:0 0 0 0;
	float:left;
	}	
.con-add h3 {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.con-add p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #fff;
    line-height: 21px;
    margin: 3% 0;
    padding: 0 0 0 0;
    text-align: justify;
}


.form-dzn{
	padding:21px 17px !important;
	background-color:transparent !important;
	border:1px solid #fff !important;
	border-radius:0px !important;
	color:#4effa3 !important;
	}	
.con-form label[for="file-input"] {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: .9;
  font-weight: bold;
}

.con-form input[type="file"] {
  cursor: pointer !Important;
}
.con-form input[type="file"]::-webkit-file-upload-button {
  background:transparent;
  border:1px solid #fff;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 0;
}
.con-form input[type="file"]::-ms-browse {
  background:transparent;
  border:1px solid #fff;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 0;
}
.send-btn {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    color: #25702d;
    padding: 6px 12px;
    margin-bottom: 0;
	    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    float: right;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
	    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}
.send-btn:hover{
	    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    background-color:transparent;
    border: 1px solid #00ffa3;
    color: #00ffa3;
	text-decoration:none;
	}
.about-bottom{
	width:100%;
	margin:0 0 0 0;
	padding:2% 0;
	float:left;
    background-color: #25702d;
	}
.about-bottom p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #fff;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align: justify;
}
.about-bottom h3 {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.about-bottom li {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    color: #fff;
    font-weight: normal;
    margin: 15px 0 16px 0;
	padding: 0 0 0 0;
    text-align: left;
    list-style-type: circle;
    font-size: 15px;
}
.footer{
	width:100%;
	margin:0 0 0 0;
	padding:2% 0;
	float:left;
    background-color: #464646;
	}
.footer-left{
	width:100%;
	margin:0 0 0 0;
	padding:2% 0;
	float:left;
	}
.footer-left p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #a5a5a5;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align: justify;
}
.footer-mid{
	width:50%;
	margin:0 25%;
	padding:0 0;
	float:left;
	}
/*.footer-mid li {
font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    color: #464646;
    font-weight: normal;
    margin: 0 4px;
    width: 34px;
    height: 34px;
    padding: 7px 8px;
    text-align: center;
    font-size: 15px;
    float: left;
    list-style: none;
    background-color: #ffffff;
    border-radius: 50%;
	}
*/	
.footer-mid li{
    display: inline;
    padding: 0;
    float: left;
    margin-right: 5px;
}
.footer-mid a {
	 color: #464646;
    font-weight: normal;
    margin: 0 4px;
    width: 34px;
    height: 34px;
    padding: 7px 8px;
    text-align: center;
    font-size: 15px;
    float: left;
    list-style: none;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
/*.footer-mid a:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 1px;
    height: 1px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
    z-index: 0;
}
*/.footer-mid a.facebook:hover {
    background: #3b5998;
	color:#fff;
}
.footer-mid a.twitter:hover {
    background: #00aced;
	color:#fff;
}
.footer-mid a.linkedin:hover {
    background: #0274b3;
	color:#fff;
}
.footer-mid a.instagram:hover {
    background: #c13584;
	color:#fff;
}
.footer-mid a.pinterest:hover {
    background: #cd0000;
	color:#fff;
}

	
.footer-right{
	width:100%;
	margin:0 0 0 0;
	padding:2% 0;
	float:left;
	}
.footer-right p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #a5a5a5;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align:right;
}
.footer-right p a {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #a5a5a5;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align:right;
		    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

}
.footer-right p a:hover{
	    color: #fff;
		}	
		
/****************LOGIn--- SIGN UP  START********************/

input[type=text], input[type=password] {
    width: 100%;
    padding: 9px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}



span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.form-bottom{
	padding:12px 0 2% 0;
	}
.reg-dd{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}	
.reg-bnr{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
	} 
/****************LOGIn--- SIGN UP  END********************/


.reg-form-page{
	width:100%;
	margin:0 0 0 0;
	padding:2% 0;
	float:left;
	background-color:#f3f3f3;
	}
.reg-form-pnl{
	width:50%;
	margin:0 auto;
	padding:0 0;
	}
.reg-form-pnl h2 {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium" !important;
    font-size: 28px;
    text-align:center;
    background: url(../images/bdr-reg.png) no-repeat center bottom;
    color: #25702d;
    padding-bottom: 17px;
    margin-bottom: 12px;
    margin-top: 0;
}
.reg-form-bg{
	position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    margin: 5% auto 15% auto;
    width: 100%;
	    padding: 4% 0;	
	}	
<!--.................. RESPONSIVE START.......................-->

@media (min-width:1200px){
	.container{
		width:1170px;
	}

}

@media (max-width:1199px) and (min-width:992px){
	.container{
		width:970px;
	}
.footer-mid {
    width: 68%;
    margin: 0 16%;
    padding: 0 0;
    float: left;
}
}
@media (max-width:991px) and (min-width:768px){
	.container{
		width:750px;
	}
.footer-mid {
    width: 94%;
    margin: 0 3%;
    padding: 0 0;
    float: left;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 65%;
}
.reg-form-pnl {
    width: 80%;
    margin: 0 auto;
    padding: 0 0;
}
}
@media (max-width:767px) and (min-width:481px){
	.container{
		width:90%;
	}
.reg-form-pnl {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
.footer-left p {
    text-align: center;
}
.footer-mid {
    width: 56%;
    margin: 10px 22%;
    padding: 0 0;
    float: left;
}
.footer-mid li {
    display: inline;
    padding: 0;
    float: left;
    margin-right:0;
}
.footer-right p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #a5a5a5;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align:center;
}

}

@media (max-width:480px){
	.container{
		width:92%;
	}
.footer-left p {
    text-align: center;
}
.footer-mid {
    width: 100%;
    margin: 10px 0;
    padding: 0 0;
    float: left;
}
.footer-mid li {
    display: inline;
    padding: 0;
    float: left;
    margin-right:0;
}
.footer-right p {
    font-family: "Avenir LT Std 35 Light", "Avenir LT Std 45 Book", "Avenir LT Std 55 Roman", "Avenir LT Std 65 Medium";
    font-size: 15px;
    color: #a5a5a5;
    line-height: 21px;
    margin: 0 0 2% 0;
    padding: 0 0 0 0;
    text-align:center;
}
.log-reg {
    float: right;
    margin: 5px 11px 0 0;
    color: #000;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 95%;
}
.reg-form-pnl {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
}		
<!--.................. RESPONSIVE END.......................-->	